@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}
.calculator /*selecting <form class="calculator" name="calc">*/
{
  position: relative;
  display: grid;
}
.calculator .value /*selecting <form class="calculator" name="calc"> <input class="value" type="text" name="txt">*/
{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
.calculator span
{
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0,0,0,.1);
}
.calculator span:active /*sets color to pressed buttons hence "active"*/
{
  background: #74ff3b;
  color: #111;
}
.calculator span.clear /*this is selecting the "c" within the calculator*/
{
  grid-column: span 2; /*this is making the c button two buttons across the width (column)*/
  width: 120px;
  background: #ff3077;
}
.calculator span.plus /*this is selecting the "+" within the calculator*/
{
  grid-row: span 2; /*this is making the + button two buttons high(taking up two rows vertically)*/
  height: 120px;
}
.calculator span.equal
{
  background: #03b1ff;
}
